Repository SteeltoeOSS/Samples, pull requests merged in 2021-07, with the labels that each got.

#211 Update Stream/Messaging to 3.1.0
  Messaging/src/Console/DependencyInjection/DependencyInjection.csproj
  Messaging/src/Console/DependencyInjection/Program.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/GenericHostEndpointManualContainer.csproj
  Messaging/src/Console/GenericHostEndpointManualContainer/Program.cs
  Messaging/src/Console/GenericHostEndpointRegistration/GenericHostEndpointRegistration.csproj
  Messaging/src/Console/GenericHostEndpointRegistration/Program.cs
  Messaging/src/Console/GenericHostManualContainer/GenericHostManualContainer.csproj
  Messaging/src/Console/GenericHostManualContainer/Program.cs
  Messaging/src/Console/GenericHostRabbitListener/GenericHostRabbitListener.csproj
  Messaging/src/Console/GenericHostRabbitListener/Program.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/GenericHostRabbitListenerHeaders.csproj
  Messaging/src/Console/GenericHostRabbitListenerHeaders/Program.cs
  Messaging/src/Console/TemplateSendReceive/TemplateSendReceive.csproj
  Messaging/src/RabbitMQWeb/Program.cs
  Messaging/src/RabbitMQWeb/RabbitMQWeb.csproj
  Messaging/src/RabbitMQWeb/nuget.config
  Stream/Basic/Basic.csproj
  Stream/CloudDataFlowLogSink/CloudDataflowLogSink.csproj
  Stream/CloudDataFlowLogSinkK8s/CloudDataflowLogSinkK8s.csproj
  Stream/CloudDataFlowToUpperProcessor/CloudDataflowToUpperProcessor.csproj
  Stream/CloudDataFlowToUpperProcessorK8s/CloudDataflowToUpperProcessorK8s.csproj
  Stream/DynamicDestinationMessaging/DynamicDestinationMessaging.csproj
  Stream/EFCore/EFCore.csproj
  Stream/LoggingConsumerApplication/LoggingConsumerApplication.csproj
  Stream/PartitionedConsumer/PartitionedConsumer.csproj
  Stream/PartitionedProducer/PartitionedProducer.csproj
  Stream/PolledConsumers/PolledConsumers.csproj
  Stream/ReRouteDlq/ReRouteDlq.csproj
  Stream/ReRouteDlqDelayed/ReRouteDlqDelayed.csproj
  Stream/ReRouteDlqRepublishToDlqFalse/ReRouteDlqRepublishToDlqFalse.csproj
  Stream/ReRouteDlqRepublishToDlqTrue/ReRouteDlqRepublishToDlqTrue.csproj
  Stream/TestPocoWithAnnotatedArguments/TestPocoWithAnnotatedArguments.csproj
  Stream/TransformProcessor/TransformProcessor.csproj
  Stream/UsageCost/UsageLogger/UsageLogger.csproj
  Stream/UsageCost/UsageProcessor/UsageProcessor.csproj
  Stream/UsageCost/UsageSender/UsageSender.csproj
  Stream/VoteHandler/VoteHandler.csproj
  Stream/XDeathApplication/XDeathApplication.csproj
Labels: 3.x, Messaging, Stream, enhancement

#212 Switch Discovery console sample to GenericHost,
  Discovery/src/Console/Fetch/ConsoleFetchService.cs
  Discovery/src/Console/Fetch/Fetch.csproj
  Discovery/src/Console/Fetch/Program.cs
  Discovery/src/Console/Register/Program.cs
  Discovery/src/Console/Register/Register.csproj
  Management/src/CloudFoundry/manifest.yml
Labels: 3.x

#214 All Actuators Sample
  Management/src/AllActuators/Actuators/.cfignore
  Management/src/AllActuators/Actuators/.dockerignore
  Management/src/AllActuators/Actuators/.gitignore
  Management/src/AllActuators/Actuators/Controllers/EmployeeController.cs
  Management/src/AllActuators/Actuators/Controllers/PageController.cs
  Management/src/AllActuators/Actuators/Migrations/20210716155831_InitialModelCreate.Designer.cs
  Management/src/AllActuators/Actuators/Migrations/20210716155831_InitialModelCreate.cs
  Management/src/AllActuators/Actuators/Migrations/EmployeeDataContextModelSnapshot.cs
  Management/src/AllActuators/Actuators/Models/Employee.cs
  Management/src/AllActuators/Actuators/Models/ErrorViewModel.cs
  Management/src/AllActuators/Actuators/Models/HrefProperties.cs
  Management/src/AllActuators/Actuators/Program.cs
  Management/src/AllActuators/Actuators/Properties/launchSettings.json
  Management/src/AllActuators/Actuators/Providers/EmployeeDataContext.cs
  Management/src/AllActuators/Actuators/README.md
  Management/src/AllActuators/Actuators/Startup.cs
  Management/src/AllActuators/Actuators/Steeltoe.Actuators.csproj
  Management/src/AllActuators/Actuators/Views/Page/Index.cshtml
  Management/src/AllActuators/Actuators/Views/Page/Migration.cshtml
  Management/src/AllActuators/Actuators/Views/Shared/Error.cshtml
  Management/src/AllActuators/Actuators/Views/Shared/_Layout.cshtml
  Management/src/AllActuators/Actuators/Views/_ViewImports.cshtml
  Management/src/AllActuators/Actuators/Views/_ViewStart.cshtml
  Management/src/AllActuators/Actuators/appsettings.Development.json
  Management/src/AllActuators/Actuators/appsettings.json
  Management/src/AllActuators/Actuators/buildpack.yml
  Management/src/AllActuators/Actuators/manifest.yml
  Management/src/AllActuators/Actuators/wwwroot/css/bootstrap.min.css
  Management/src/AllActuators/Actuators/wwwroot/css/bootstrap.min.css.map
  Management/src/AllActuators/Actuators/wwwroot/css/site.css
  Management/src/AllActuators/Actuators/wwwroot/favicon.ico
  Management/src/AllActuators/Actuators/wwwroot/img/steeltoe-logo.svg
  Management/src/AllActuators/Actuators/wwwroot/img/transparent.png
  Management/src/AllActuators/Steeltoe.Actuators.sln
Labels: 3.x, Management

#215 Update discovery docker sample
  Discovery/src.Docker/Fortune-Teller-Service/Controllers/FortunesController.cs
  Discovery/src.Docker/Fortune-Teller-Service/Dockerfile
  Discovery/src.Docker/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  Discovery/src.Docker/Fortune-Teller-Service/FortuneTeller.Service.csproj
  Discovery/src.Docker/Fortune-Teller-Service/Models/Fortune.cs
  Discovery/src.Docker/Fortune-Teller-Service/Models/FortuneContext.cs
  Discovery/src.Docker/Fortune-Teller-Service/Models/FortuneRepository.cs
  Discovery/src.Docker/Fortune-Teller-Service/Models/IFortuneRepository.cs
  Discovery/src.Docker/Fortune-Teller-Service/Models/SampleData.cs
  Discovery/src.Docker/Fortune-Teller-Service/Program.cs
  Discovery/src.Docker/Fortune-Teller-Service/Startup.cs
  Discovery/src.Docker/Fortune-Teller-Service/appsettings.Development.json
  Discovery/src.Docker/Fortune-Teller-Service/appsettings.json
  Discovery/src.Docker/Fortune-Teller-Service/nuget.config
  Discovery/src.Docker/Fortune-Teller-UI/Controllers/HomeController.cs
  Discovery/src.Docker/Fortune-Teller-UI/Dockerfile
  Discovery/src.Docker/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  Discovery/src.Docker/Fortune-Teller-UI/FortuneTeller.UI.csproj
  Discovery/src.Docker/Fortune-Teller-UI/Models/ErrorViewModel.cs
  Discovery/src.Docker/Fortune-Teller-UI/Program.cs
  Discovery/src.Docker/Fortune-Teller-UI/Properties/launchSettings.json
  Discovery/src.Docker/Fortune-Teller-UI/Services/Fortune.cs
  Discovery/src.Docker/Fortune-Teller-UI/Services/FortuneService.cs
  Discovery/src.Docker/Fortune-Teller-UI/Services/IFortuneService.cs
  Discovery/src.Docker/Fortune-Teller-UI/Startup.cs
  Discovery/src.Docker/Fortune-Teller-UI/Views/_ViewImports.cshtml
  Discovery/src.Docker/Fortune-Teller-UI/appsettings.Development.json
  Discovery/src.Docker/Fortune-Teller-UI/appsettings.json
  Discovery/src.Docker/Fortune-Teller-UI/nuget.config
  Discovery/src.Docker/FortuneTeller.sln
  Discovery/src.Docker/docker-compose.dcproj
  Discovery/src.Docker/docker-compose.override.yml
  Discovery/src.Docker/docker-compose.yml
Labels: 3.x, ServiceDiscovery
