Repository SteeltoeOSS/Samples, pull requests merged in 2021-05, with the labels that each got.

#196 Update Discovery ReadMe Links
  Discovery/README.md
Labels: ServiceDiscovery

#195 Streams sample
  Stream/.dockerignore
  Stream/Basic/Basic.csproj
  Stream/Basic/Dockerfile
  Stream/Basic/Program.cs
  Stream/Basic/Properties/launchSettings.json
  Stream/CloudDataFlowLogSink/.config/dotnet-tools.json
  Stream/CloudDataFlowLogSink/.dockerignore
  Stream/CloudDataFlowLogSink/CloudDataflowLogSink.csproj
  Stream/CloudDataFlowLogSink/Controllers/WeatherForecastController.cs
  Stream/CloudDataFlowLogSink/Dockerfile
  Stream/CloudDataFlowLogSink/Program.cs
  Stream/CloudDataFlowLogSink/Properties/launchSettings.json
  Stream/CloudDataFlowLogSink/Startup.cs
  Stream/CloudDataFlowLogSink/WeatherForecast.cs
  Stream/CloudDataFlowLogSink/appsettings.Development.json
  Stream/CloudDataFlowLogSink/appsettings.json
  Stream/CloudDataFlowLogSink/manifest.yml
  Stream/CloudDataFlowToUpperProcessor/.config/dotnet-tools.json
  Stream/CloudDataFlowToUpperProcessor/.dockerignore
  Stream/CloudDataFlowToUpperProcessor/CloudDataflowToUpperProcessor.csproj
  Stream/CloudDataFlowToUpperProcessor/Controllers/WeatherForecastController.cs
  Stream/CloudDataFlowToUpperProcessor/Dockerfile
  Stream/CloudDataFlowToUpperProcessor/Program.cs
  Stream/CloudDataFlowToUpperProcessor/Properties/launchSettings.json
  Stream/CloudDataFlowToUpperProcessor/Startup.cs
  Stream/CloudDataFlowToUpperProcessor/WeatherForecast.cs
  Stream/CloudDataFlowToUpperProcessor/appsettings.Development.json
  Stream/CloudDataFlowToUpperProcessor/appsettings.json
  Stream/CloudDataFlowToUpperProcessor/manifest.yml
  Stream/EFCore/EFCore.csproj
  Stream/EFCore/EFCore.sln
  Stream/EFCore/MyRabbitSender.cs
  Stream/EFCore/Program.cs
  Stream/EFCore/appsettings.json
  Stream/LoggingConsumerApplication/LoggingConsumerApplication.cs
  Stream/LoggingConsumerApplication/LoggingConsumerApplication.csproj
  Stream/LoggingConsumerApplication/Properties/launchSettings.json
  Stream/LoggingConsumerApplication/appsettings.json
  Stream/PolledConsumers/Dog.cs
  Stream/PolledConsumers/PolledConsumers.csproj
  Stream/PolledConsumers/Program.cs
  Stream/PolledConsumers/Properties/launchSettings.json
  Stream/PolledConsumers/Worker.cs
  Stream/Stream.sln
  Stream/TestPocoWithAnnotatedArguments/Dog.cs
  Stream/TestPocoWithAnnotatedArguments/Program.cs
  Stream/TestPocoWithAnnotatedArguments/Properties/launchSettings.json
  Stream/TestPocoWithAnnotatedArguments/TestPocoWithAnnotatedArguments.csproj
  Stream/TestPocoWithAnnotatedArguments/Vote.cs
  Stream/TransformProcessor/IVotingService.cs
  Stream/TransformProcessor/Program.cs
  Stream/TransformProcessor/Properties/launchSettings.json
  Stream/TransformProcessor/TransformProcessor.csproj
  Stream/TransformProcessor/Vote.cs
  Stream/VoteHandler/IVotingService.cs
  Stream/VoteHandler/Program.cs
  Stream/VoteHandler/Properties/launchSettings.json
  Stream/VoteHandler/Vote.cs
  Stream/VoteHandler/VoteHandler.csproj
Labels: 3.x, Stream

#201 Simplify Dynamic Destination Service Registration
  Stream/DynamicDestinationMessaging/Program.cs
Labels: Stream, enhancement

#202 Update XDeath-Application sample
  Stream/Stream.sln
  Stream/XDeathApplication/Program.cs
  Stream/XDeathApplication/XDeathApplication.csproj
  Stream/XDeathApplication/appsettings.json
Labels: 3.x, Stream
